  .brws_myacc_page_title_wrapper {
    width: 100%;
    display: -ms-grid;
    display: grid;
    place-items: center;
    margin: 32px 0;
    padding: 48px 16px 68px 16px;
  }
  
  .brws_myacc_page_title_wrapper .brws_mycc_page_title_box h4 {
    text-align: center;
    margin: 0 0 16px 0;
    color: #454545;
  }
  
  .brws_myacc_page_title_wrapper .brws_mycc_page_title_box h2 {
    position: relative;
    margin: 0;
    text-transform: uppercase;
  }
  
  .brws_myacc_page_title_wrapper .brws_mycc_page_title_box h2:after {
    content: '';
    position: absolute;
    bottom: -45%;
    left: 30%;
    right: 30%;
    height: 2px;
    background: #222;
    display: block;
  }