  .brws_myacc_page_title_wrapper {
    width: 100%;
    display: -ms-grid;
    display: grid;
    place-items: center;
    margin: 32px 0;
    padding: 0px 16px 68px 16px;
  }
  
  .brws_myacc_page_title_wrapper .brws_mycc_page_title_box h4 {
    text-align: center;
    margin: 0 0 8px 0;
    color: #454545;
  }
  
  .brws_myacc_page_title_wrapper .brws_mycc_page_title_box h2 {
    position: relative;
    margin: 0;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 32px;
  }
  
  .brws_myacc_page_title_wrapper .brws_mycc_page_title_box h2:after {
    content: '';
    position: absolute;
    bottom: -45%;
    left: 30%;
    right: 30%;
    height: 2px;
    background: #222;
    display: block;
  }
  
  .brws_back_btn > a > i {
    -webkit-transition: transform 0.5s ease-out;
    -webkit-transition: -webkit-transform 0.5s ease-out;
    transition: -webkit-transform 0.5s ease-out;
    transition: transform 0.5s ease-out;
  }

  .brws_back_btn > a:hover > i {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);
  }